@model bitirme.Models.Siniflar.SatisHareket
@{
    ViewBag.Title = "YeniSatis";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Yeni Satış Sayfası</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.Urun, "Ürün:")
    @Html.DropDownListFor(x => x.Urunid, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
    @*virgülden sonraki new ile başlayan kısımlar textbox'a css vermek için*@
    <br />
    @Html.Label("Cari:")
    @Html.DropDownListFor(x => x.Cariid, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Personel, "Personel:")
    @Html.DropDownListFor(x => x.Personelid, (List<SelectListItem>)ViewBag.dgr3, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Adet, "Ürünün Adeti:")
    @Html.TextBoxFor(x => x.Adet, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Fiyat, "Ürünün Satış Fiyatı:")
    @Html.TextBoxFor(x => x.Fiyat, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.ToplamTutar, "Toplam Tutar :")
    @Html.TextBoxFor(x => x.ToplamTutar, new { @class = "form-control" })
    <br />


    <button class="btn btn-primary">Satış Yap</button>
</form>@*post olunca çalışan bir form*@

